@import"variables";

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/* Estilos para todas las secciones y class reutilizadas */

p{
    font-size: $fuenteTexto;
    margin: 2rem 0rem;
    color:map-get($estilos,color);
    text-align: map-get($estilos, alineacion);
}

/*Un ejemplo en donde usamos Map-Get*/

h2{
    text-align: map-get($estilos, alineacion);
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    color:rgb(35, 29, 29);
    font-weight: 700;
    text-decoration: underline;
    transition: color 2s;
    transition: font size 2s;  
    &:hover{
        color: goldenrod;
        font-size: 3rem;
    }
}

h3{
    font-size: 2.3rem;
    color:rgba(43, 36, 36, 0.604) ;
    text-align: map-get($estilos, alineacion);
    margin-bottom: 2rem;
    transition: color 2s;
    transition: font size 2s;
    &:hover{
        color: goldenrod;
        font-size: 2.5rem;
    }
}

.menuNavegacion{
    list-style-type: none;
    background-color:map-get($estilos, fondoSecundario);
    display: flex;
    justify-content: map-get($estilos, alineacion);
    li{
        font-weight: 500;
        font-size: $fuenteTexto;
        padding: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.piePagina{
    margin-top: 10rem;
    grid-area: footer;
    background-color: map-get($estilos, fondoSecundario);
    border-top: solid 0.2rem map-get($estilos, color);
    border-bottom: solid 0.2rem white;
    background-image: url(https://img.freepik.com/vector-gratis/logotipo-tenis_20448-250.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    a{
       font-size: $fuenteTexto;
       color: white;
       position: relative;
       margin-left: 70rem; 
    }
 }
 
 .twitter{
    position: fixed;
    right: 0.5rem;
    bottom: 8rem;
    height: 5rem;
    width: 5rem;
 }
 
 .insta{
    @extend .twitter;
    bottom: 8rem;
    right: 7rem;
 }
 
 .face{
   @extend .twitter;
   bottom: 8rem;
    right: 14rem;
 }

 @keyframes movimiento {
    0%{transform: translate(0.5rem,0.5rem);}
    25%{transform: translate(1rem,1rem);}
    50%{transform: translate(1.5rem,1.5rem);}
    75%{transform: translate(1rem,1rem);}
    100%{transform: translate(0.5rem,0.5rem);}
 }
 
 
 .telefono{
    height: 5rem;
    width: 5rem;
    margin-left: 55rem;
    position: relative;
    top: 8rem;
    animation-name: movimiento;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-delay: 2s;
 }


 /* Seccion Index */

 @mixin flexbox ($flex, $direction) {
   display: $flex;
   flex-direction: $direction;
}

 .contenedorIndex{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.4fr;
    grid-template-areas: 
    "encabezado encabezado"
    "contenido contenido"
    "footer footer";
    background-color:map-get($estilos, fondoPrincipal);
 }
 
 .encabezadoIndex{
    margin-top: 2rem;
    grid-area: encabezado;
    @include flexbox (flex, column);
    position: sticky;
    top: 0;
    z-index: 2;
 }
 
 .contenidoPrincipal{
    margin-top: 10rem;
    grid-area: contenido;
    display: flex;
    align-items: map-get($estilos, alineacion);
 }
 
 .contenedorI{
    @include flexbox (flex, column);
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm0jp5hXFueAFBaTIWkNCPZW9IETt9bqDXzg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 18rem;
 } 
 
 .tituloSecundario{
    position: relative;
    bottom: 5rem;
 }
  
 .tituloPrincipal{                                     
    font-size: 7rem;
    background-color: map-get($estilos, fondoSecundario);
    text-align: map-get($estilos, alineacion);
    border-bottom: solid 0.5rem white;
    color:map-get($estilos, color);
    font-weight: 800;
  }
 
 
  .imagenPrincipal{
     height: 50rem;
     width: 50rem;
     border-right: solid 0.3rem map-get($estilos, color);
     opacity:calc(50);
     margin-right: 2rem; 
     transition: height 2s;  
     &:hover{
         height: 45rem;
     }
  }
 
  
  .logoInicio{
     height: 1.5rem;
     width: auto;
  }
 

